**/build/
build/
release/
update/
.git
.env
**/.settings
**/.cproject
**/.project
main/main
logs
.project
**/*.tar.gz
**/*.projbuild
**/*.o
**/*.log
**/*.bin
.vscode
sdkconfig*
trash
**/*.json
**/gitversion.hpp